
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container .wrapper {
  width: 1140px;
}
.select-bar {
  width: 100%;
  height: 50px;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.row-select{
  padding-left: 10px;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.container .wrapper .filter .select-bar .select-wrapper {
  border: 1px solid red;
}
.container .wrapper .form-group {
  width: 32%;
  position: relative;
}
.container .wrapper .form-group input {
  padding: 6px 14px;
  border: 1px solid var(--border-color);
  display: block;
  width: 100%;
  outline: none;
  position: relative;
}
.container .wrapper .form-group .search-text {
  position: absolute;
  padding-right: 11px;
  right: 0;
  top: 8px;
}
.container .wrapper .form-group .search-text svg {
  font-size: 20px;
}
.container .wrapper .form-group:nth-child(1) input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}
.container .wrapper .form-group-button {
  width: 4%;
}
.container .wrapper .form-group-button button {
  padding: 3px 7px;
  background: #00b2a3;
  border-radius: 5px;
}
.container .wrapper .form-group-button button :hover {
  opacity: 0.5;
}
.container .wrapper .form-group-button button svg {
  font-size: 19px;
  color: var(--white-color);
}
.container .wrapper_content {
  width: 100%;
  display: flex;
}
.container .wrapper_content .wrapper_jobs {
  margin-top: 10px;
  width: 75%;
}
.container .wrapper_content .wrapper_jobs .recruit_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.container .wrapper_content .wrapper_jobs .recruit_title .left {
  display: flex;
  align-items: center;
}
.header-jcd{
  font-size: 32px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}
.container .wrapper_content .wrapper_jobs .recruit_title .left .view_all {
  padding: 0rem 1rem;
}
.container .wrapper_content .wrapper_jobs .recruit_title .left .view_all:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.container .wrapper_content .wrapper_jobs .recruit_title .right {
  display: flex;
  align-items: center;
}
.container .wrapper_content .wrapper_jobs .recruit_title .right p {
  padding-right: 10px;
}
.container .wrapper_content .wrapper_jobs .recruit_title .right a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2563eb;
}
.container .wrapper_content .wrapper_jobs .recruit_title .right a:hover {
  text-decoration: underline;
}
.container .wrapper_content .wrapper_jobs .recruit_title .right .select_box {
  border: 1px solid var(--border-color);
  padding: 3px 9px;
  outline: none;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item {
  background: #f5fcff;
  margin-bottom: 20px;
  border-color: #0069db 47;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #dedede;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item {
  display: flex;
  padding: 1.5rem;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .images {
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #d7d7db;
  border-radius: 0.3rem;
  margin-right: 1em;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .images img {
  max-width: 100%;
  max-height: 100%;
  padding: 0px 4px;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content {
  flex: 1;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content a {
  display: block;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .address {
  justify-content: space-between;
  display: flex;
  color: #2563eb;
  line-height: 2;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .address a {
  color: #9e9999;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .info_salary {
  display: flex;
  justify-content: space-between;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .title {
  color: var(--primary);
  font-weight: bold;
  padding-bottom: 10px;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .title:hover {
  text-decoration: underline;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .company {
  color: var(--black-color);
  margin-bottom: 0.25rem;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .category {
  justify-content: space-between;
  display: flex;
  color: #9e9999;
  line-height: 2;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .deadline {
  justify-content: space-between;
  display: flex;
  color: #9e9999;
  line-height: 2;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .small_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .update {
  line-height: 2;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .update .btn-delete-rcm {
  background-color: #e20c0c;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .list_group_item .box_item .content .update .btn-delete-rcm:hover {
  background-color: #e63737;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .paginate .active {
  background-color: #5aaebb;
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .paginate .page-num {
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: var(--black-color);
}
.container .wrapper_content .wrapper_jobs .list_group_jobs .paginate .page-num:hover {
  background-color: #5ab1bb;
  color: var(--white-color);
}
.container .wrapper_content .wrapper_banner {
  margin-top: 73px;
  width: 25%;
  padding: 1em;
}
.container .wrapper_content .wrapper_banner img {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 17px;
  width: 100%;
}
.container .wrapper_content .delete-button {
  background-color: #fd3d57 !important;
  color: #fff !important;
  position: relative;
  line-height: 1.5715;
  border: none;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 10px;
  margin-right: 5px;
}
.delete-button:hover{
  opacity: 0.8;
}
.status-myjob{
  color: #e20c0c;
  font-weight: 600;
  font-family: var(--font-family);
}
.status-rcm{
  color: #e20c0c;
  font : 600;
  font-family: var(--font-family);
}
.filter-status{
  outline: none;
  padding: 5px 8px;
}