.update-password {
  height: fit-content;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
}
.form {
  width: 100%;
}
.form > h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.group_input {
  text-align: left;
}
.group_input label {
  display: block;

  padding-left: 7px;
}
.required {
  color: var(--primary);
}
.group_input input {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  margin-top: 6px;
  display: block;
  width: 100%;
  outline: none;
}
.group_input > input:focus {
  border-color: var(--primary);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.group_input > button {
  margin-top: 15px;
  width: 100%;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--white-color);
  padding: 6px 2px;
  text-transform: uppercase;
}
.group_input > button:hover {
  background: var(--white-color);
  color: var(--primary);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.check_password {
  text-align: left;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 17px;
  height: 17px;
}
