.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
  width: 100%;

  .wrapper {
    width: 1140px;
    .filter {
      height: auto;
      padding-right: 1em;

      form {
        width: 100%;
        height: 100%;
        padding: 20px 25px;
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        gap: 1em;
        background-color: #f2f2f2;
      }
    }

    .form-group {
      width: 32%;
      position: relative;

      input {
        padding: 6px 14px;
        border: 1px solid var(--border-color);
        display: block;
        width: 100%;
        outline: none;
        position: relative;
      }

      .search-text {
        position: absolute;
        padding-right: 11px;
        right: 0;
        top: 8px;

        svg {
          font-size: 20px;
        }
      }
    }
    .form-group:nth-child(1) {
      input:focus {
        border-color: #2684ff;
        box-shadow: 0 0 0 1px #2684ff;
      }
    }

    .form-group-button {
      width: 4%;

      button {
        padding: 6px 11px;
        background: #00b2a3;
        border-radius: 5px;

        :hover {
          opacity: 0.5;
        }

        svg {
          font-size: 19px;
          color: var(--white-color);
        }
      }
    }

    &_content {
      width: 100%;
      display: flex;

      .wrapper_jobs {
        width: 75%;

        .recruit_title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 25px;

          .left {
            display: flex;
            align-items: center;

            .left-title {
              font-size: 30px;
              font-family: var(--font-family, --font-roboto);
              font-weight: 600;
              margin: 0 1rem 0 0;
            }
            .view_all {
              padding: 0rem 1rem;

              &:hover {
                text-decoration: underline;
                transition: 0.3s;
              }
            }
          }
          .right {
            display: flex;
            align-items: center;

            p {
              padding-right: 10px;
            }
            a {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #2563eb;

              &:hover {
                text-decoration: underline;
              }
            }

            .select_box {
              border: 1px solid var(--border-color);
              padding: 3px 9px;
              outline: none;
            }
          }
        }
        .list_group_jobs {
          .list-container {
            width: 100%;
          }
          .list_group_item {
            background: #f5fcff;
            margin-bottom: 20px;
            border-color: #0069db47;
            font-size: 14px;
            line-height: 1.3;
            border-radius: 5px;
            transition: 0.3s;
            cursor: pointer;
            border: 1px solid #dedede;

            &:hover {
              box-shadow: 0 3px 6px 0 rgb(0 86 145 / 31%);
            }
            .box_item {
              display: flex;
              padding: 1.5rem;

              .images {
                width: 90px;
                height: 90px;
                align-items: center;
                justify-content: center;
                display: flex;
                border: 1px solid #d7d7db;
                border-radius: 0.3rem;
                margin-right: 1em;

                img {
                  max-width: 100%;
                  max-height: 100%;
                  padding: 0px 4px;
                }
              }

              .content {
                flex: 1;
                a {
                  display: block;
                }

                .address {
                  justify-content: space-between;
                  display: flex;
                  color: #9e9999;
                  line-height: 2;

                  a {
                    color: #9e9999;
                  }
                }
                .info_salary {
                  display: flex;
                  justify-content: space-between;
                }
                .title {
                  color: var(--primary);
                  font-weight: bold;
                  padding-bottom: 10px;

                  &:hover {
                    text-decoration: underline;
                  }
                }
                .company {
                  color: var(--black-color);
                  margin-bottom: 0.25rem;
                }
              }
            }
          }
          .paginate {
            display: flex;

            justify-content: center;
            align-items: center;
            margin-bottom: 5rem;
            font-size: 1.2rem;
            gap: 5px;

            .active {
              background-color: #5aaebb;
            }

            .page-num {
              padding: 6px 15px;
              cursor: pointer;
              border-radius: 3px;
              font-weight: 400;
              color: var(--black-color);

              &:hover {
                background-color: #5ab1bb;
                color: var(--white-color);
              }
            }
          }
        }
      }
      .wrapper_banner {
        width: 25%;
        padding: 1em;
        img {
          border-bottom: 1px solid var(--border-color);
          padding-bottom: 17px;
          width: 100%;
        }
      }
    }
  }
}
